target/
dist/*
project/boot/
project/plugins/project/
.ensime
.ensime_cache/
.bloop
out/

# IDE folders
.idea/
.metals/
metals.sbt
.vscode/

# intellij scala worksheet
*.sc

*.log
*.log.zip
.evm-runner_history

# Nix
result
.nix/
