<configuration>

    <property name="encoderPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{akkaSource} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>etc-client.log</file>
        <append>true</append>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="io.iohk.ethereum.network.rlpx.RLPxConnectionHandler" level="INFO" />
    <logger name="io.iohk.ethereum.network.FastSyncController" level="INFO" />

</configuration>
