<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{18} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.iohk.ethereum.vm.VM" level="OFF" />
    <logger name="io.iohk.ethereum.ledger.LedgerImpl" level="OFF" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
